.form-group {
    margin-right:50px;
    margin-left:50px;
}
.search {
    width: 25%;
    height: 40%;
    margin: 40px;
    border-style:solid;
    float: left;
    display:block;
    text-align: center;
    line-height: 180px; 
}
.btn-info,.btn-primary {
    height:100px;
    width: 145px;
    margin-left:18px;
    margin-right:18px;
}
.btn-default {
    margin-left:12px;
    height:50px;
    width:45%;
}
.glyphicon {
    margin:20px;
    top: 10px;
}
.glyphicon-heart {
    color:red;
}
a {
    text-decoration:none;
}

