<nav class="navbar navbar-default">
<div class="container-fluid">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header" >
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a src="images/cb_logo.png"></a>
  <a class="navbar-brand" href="#">
    CloseBites
  </a>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <li class="active"><a href="#">Deals <span class="sr-only">(current)</span></a></li>
  </ul>

  <ul class="nav navbar-nav navbar-right">
    <li>
      <div *ngIf = "!loggedIn" style = "float:right">
        <a [routerLink] = "'/signup/' + 'home'">
        <button type="button" style="margin-top:8px; margin-left: 5px; " class="btn btn-success">Sign Up</button></a>
        <a routerLink = "/login">
        <button type="button" style="margin-top:8px; margin-left: 5px;" class="btn btn-danger">Log In</button></a>
      </div>
    </li>
    <li>
      <div *ngIf = "loggedIn" style="float:right; margin: 15px 15px 0px 10px;">
          <!--routerLink="/mydeals" -->
          <a style="text-decoration: none; color: #2c2c2c; ">
            <span class="glyphicon glyphicon-tags icon-size" style="margin-right: 3px; font-size: 12px;  "></span> Favs
          </a>
      </div>
      <div *ngIf = "loggedIn" style="float:right; margin: 15px 5px 0px 10px;">
        <!--routerLink = "/mysearches"-->
          <a  style="text-decoration: none; color: #2c2c2c;">
            <span class="glyphicon glyphicon-th icon-size" style="margin-right: 6px; font-size: 12px;  "></span>Filters
          </a>
      </div>
    </li>

    <li *ngIf="loggedIn" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                        <strong>User</strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="navbar-login" style="width: 305px; padding: 10px; padding-bottom: 0px;">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="text-center">
                                            <span class="glyphicon glyphicon-user"></span>
                                        </p>
                                    </div>
                                    <div class="col-lg-4">
                                        <p class="text-left"><strong>{{ getUserName() }}</strong></p>
                                        <p class="text-left small">{{ getUserEmail() }}</p>
                                        <p class="text-left">

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="navbar-login navbar-login-session" style="padding: 10px; padding-bottom: 0px; padding-top: 0px;">
                                <div class="row">
                                    <div class="col-lg-12">

                                          <div *ngIf = "loggedIn" style="float:right">
                                            <a routerLink = "/">
                                            <button type="button" class="btn btn-danger"
                                            (click)="logout()">Log Out</button></a>
                                          </div>

                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
  </ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>


<!--top row containing buttons and closebites logo-->
<!--next row contains search fields to filter deals and the deals on the right-->
<div style="float:left;">
  <form>
<div class="vertical-menu" style="padding:0px;">
  <a href="#" class="active">
		<div class="form-group">
						<label for="zip">Zip Code</label>
						<input type="text" class="form-control" id="zip" name="zip" [(ngModel)]="zip"/>
            <!--#zip="ngModel"
             maxlength="5" minlength="5" 
										pattern="^$|\d{5}"/>
                    			<validation-messages
															[model]="zip"
															[messages]="{
																	pattern: 'Zip code must be a 5 digit number (or empty)'}">
													</validation-messages>-->
				</div>
	</a>
  <a style="padding-bottom:35px;">
		<div class="slideThree" style="float: left; margin-top: 5px; ">
			<input type="checkbox" [(ngModel)]="mexican" value="None" id="slideThree" name="mexican" />
			<label for="slideThree"></label>
		</div>
		<div style="float: right; margin-right: 135px; font-weight: bold; ">
			Mexican
		</div>
	</a>
	<a style="padding-bottom:35px;">
		<div class="slideThree" style="float: left; margin-top: 5px; ">
			<input type="checkbox" [(ngModel)]="chinese" value="None" id="slideThreeC" name="chinese" />
			<label for="slideThreeC"></label>
		</div>
		<div style="float: right; margin-right: 135px; font-weight: bold; ">
			Chinese
		</div>
	</a>
	<a style="padding-bottom:35px;">
		<div class="slideThree" style="float: left; margin-top: 5px; ">
			<input type="checkbox" [(ngModel)]="italian" value="None" id="slideThreeI" name="italian" />
			<label for="slideThreeI"></label>
		</div>
		<div style="float: right; margin-right: 140px; font-weight: bold; ">
			Italian
		</div>
	</a>

	<a>
		<div id = "deal">
			<strong><p style = "text-align:center">Deal Type</p></strong>
			<div class="btn-group" data-toggle="buttons" >
      			<label class="btn btn-primary" style="width:82px;" (click)="updateMode('food')"><input type="radio" name="options"> Food</label>
      			<label class="btn btn-primary" style="width:82px;" (click)="updateMode('drinks')"><input type="radio" name="options"> Drinks</label>
      			<label class="btn btn-primary active" style="width:82px;" (click)="updateMode('foodAndDrinks')"><input type="radio" name="options" checked=""> Both </label>
			</div>
		</div>
	</a>
	<a>
		<button type="button" style ="background-color:black;color:white;height:50px;margin-top:15px"
		class="btn btn-block btn-default" (click)="updateSearch()">
			Update</button>
	</a>
</div>
</form>
</div>


<div style="float:right; width: 70%">
<div style = "width: 100%;" >

  <div *ngFor = "let deal of deals">
        <div class="deal">
              <div class="card">
                  <img class="card-img-top" src="{{ deal.photoUrl }}"  >
                  <div class="card-block">
                      <h4 class="card-title"> {{deal.name}}</h4>
                      <p class="card-text">{{deal.description}}</p>
                      <a href="#" (click)="identifyDeal(deal.id)"data-toggle="modal" data-target="#dealModal" class="btn btn-primary">See More</a>
                  </div>
              </div>
          </div>
    </div>


</div>
</div>
<!--Modal for saving searches-->
<div class="modal fade" id="littleModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content" style="text-align:center">
        <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Name this search</h4>
		</div>
		<div class="modal-body">
			<input type="text" class="form-control" id="searchTitle" name="searchTitle">
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
		</div>
      </div>
    </div>

</div>

  <div class="deal-frame">

  </div>

  <!--modal for when clicking on a deal-->
  <div class="modal fade" id="dealModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content" style="text-align:center">
        <div class="modal-header" style="text-align: center; ">
			      <button type="button" class="close" data-dismiss="modal">&times;</button>
			      <h4 class="modal-title">{{deal.name}}</h4>
		    </div>
		    <div class="modal-body">
          <img width=400 class="modal-img" src="{{ deal.photoUrl }}">
                <p>{{deal.description}}
                <!--<span [style.opacity]="favoriteDeal ? 1 : .5"
								class="glyphicon glyphicon-heart" style="float:right;font-size:250%;top:-10px"></span>
                -->
                </p>
		    </div>
        <div class="modal-footer" style="text-align:left">
            <p>Deal Location: {{deal.address}}</p>
            <p>Cuisine: {{deal.type}} </p>
            <p>Deal Type: {{deal.dType}}</p>
            <p><del> ${{deal.normPrice}}</del> to ${{deal.discountedPrice}}</p>
            <!--<p>Available from {{deal.start}} to {{deal.end}} on <span *ngFor = "let day of repeatDays">{{day}}</span></p>-->
            <p>Available from {{deal.start}} to {{deal.end}} on {{deal.repeat}}</p>
        </div>
      </div>
    </div>
  </div>
