a.hover {
    color: red;
    text-decoration: none;
}
a.hover:hover {
    text-decoration: underline;
}
.deal {
    width: 40%;
    height: 40%;
    margin: 20px;
    border-style:solid;
    float: left;
    display:block;
    text-align: center;
    line-height: 180px; 
}
.form-group {
    margin:40px;
}
#deal > div > label.btn.btn-primary {
    height:50px;
    width: 110px;
    margin:4px;
}
.glyphicon {
    margin:20px;
    top: 10px;
}
.glyphicon-heart {
    opacity: 0.5;
    color:red;
}
.glyphicon-heart:hover {
    opacity: 1;
}


