<!--top row containing buttons and closebites logo-->
<div class = "row">
	<h1>CloseBites
		<div *ngIf = "!loggedIn" style = "float:right">
			<a [routerLink] = "'/signup/' + 'home'">
			<button type="button" class="btn btn-success">Sign Up</button></a>
			<a routerLink = "/login">
			<button type="button" class="btn btn-danger">Log In</button></a>
		</div>
		<div *ngIf = "loggedIn" style="float:right">
			<a routerLink="/mydeals" style="text-decoration:none">
				<span class="glyphicon glyphicon-heart" title="View favorited deals"></span>
			</a>
			<a routerLink = "/mysearches" style="text-decoration:none">
				<span class="glyphicon glyphicon-floppy-disk" title="View saved searches"></span>
			</a>
			<a routerLink = "/">
			<button type="button" class="btn btn-danger"
			(click)="logout()">Log Out</button></a>
		</div>
	</h1>
</div>
<!--next row contains search fields to filter deals and the deals on the right-->
<div class = "row">
	<div class = "col-sm-4" style = "height:500px;border-style:ridge">
		<div class="form-group">
            <label for="zip">Zip Code</label>
            <input type="text" class="form-control" id="zip" name="zip" [(ngModel)]="zip">
        </div>
        <div class="form-group" data-toggle="toggle">
            <label for="cuisine">Cuisine</label>
      			<label class="checkbox"><input type="checkbox" [(ngModel)]="mexican"> Mexican</label>
      			<label class="checkbox"><input type="checkbox" [(ngModel)]="chinese"> Chinese</label>
      			<label class="checkbox"><input type="checkbox" [(ngModel)]="italian"> Italian</label>
				<label class="checkbox"><input type="checkbox" [(ngModel)]="korean"> Korean</label>
				<label class="checkbox"><input type="checkbox" [(ngModel)]="murican"> Murican</label>
        </div>
		<div id = "deal">
			<strong><p style = "text-align:center">Deal Type</p></strong>
			<div class="btn-group" data-toggle="buttons">
      			<label class="btn btn-primary" (click)="updateMode('food')"><input type="radio" name="options"> Food</label>
      			<label class="btn btn-primary" (click)="updateMode('drinks')"><input type="radio" name="options"> Drinks</label>
      			<label class="btn btn-primary active" (click)="updateMode('foodAndDrinks')"><input type="radio" name="options" checked=""> Food + Drinks</label>
			</div>
		</div>
		<button type="button" style ="background-color:black;color:white;height:50px;margin-top:15px"
		class="btn btn-block btn-default" (click)="updateSearch()">
			Update</button>
		<a href="javascript:void(0);">
			<h4 *ngIf ="loggedIn" style="text-align:center" data-toggle="modal" data-target="#littleModal">Save Search</h4>
		</a>
	</div>
	<!--div containing the deals-->
	<div class = "col-sm-8" style = "height:500px;overflow-y:scroll">
		<div *ngFor = "let deal of deals">
			<div class = "deal" (click)="identifyDeal(deal.id)"data-toggle="modal" data-target="#dealModal">{{deal.name}}</div>
		</div>
	</div>
</div>

<!--Modal for saving searches-->
<div class="modal fade" id="littleModal" role="dialog">
    <div class="modal-dialog">  
      <div class="modal-content" style="text-align:center">
        <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Name this search</h4>
		</div>
		<div class="modal-body">
			<input type="text" class="form-control" id="searchTitle" name="searchTitle">
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
		</div> 
      </div>  
    </div>
  </div>

  <!--modal for when clicking on a deal-->
  <div class="modal fade" id="dealModal" role="dialog">
    <div class="modal-dialog">  
      <div class="modal-content" style="text-align:center">
        <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">{{deal.name}}</h4>
		</div>
		<div class="modal-body">
            <div class = "container-fluid" style="border-bottom-style:solid;border-top-style:solid;height:200px">
                <h2 style="text-align:center">PICTURE</h2>
            </div> 
            <div class = "container-fluid" style="border-bottom-style:solid;height:60px">
                <p>{{deal.description}}
                <span [style.opacity]="favoriteDeal ? 1 : .5"
								class="glyphicon glyphicon-heart" style="float:right;font-size:250%;top:-10px"></span>
                </p>             
            </div> 
		</div>	
        <div class="modal-footer" style="text-align:left">
            <p>Deal Location: {{deal.address}}</p>
            <p>Cuisine: <i>Cuisine tags</i> </p>
            <p>Deal Type: {{deal.type1}}<span *ngIf="deal.type2"> and </span>{{deal.type2}}</p>
        </div>
      </div>  
    </div>
  </div>