<div class = "row">
	<h1>CloseBites</h1>
</div>
<div class = "row" style = "height:800px">
	<div class = "col-sm-4"></div>
	<div class = "col-sm-4" style="margin-top:50px">
		<h1 style="text-align:center">Login</h1>
		<form>
				<div class="form-group">
					<input type="text" class="form-control" id="email" name="email" placeholder="Email">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="pwd" name="pwd" placeholder="Password">
				</div>
		</form>
		<button type="button" (click) = "go()" class="btn btn-primary btn-lg" 
		style="text-align:center;margin:0px;width:100%">
			Submit</button>		
	</div>
</div>

