<div class = "row">
	<h1>CloseBites</h1>
</div>
<div class="form">
	<h1 id="closebites"> Login </h1>
	<div id="login">
		<form>
			<div class="top-row"></div>
			<div class="field-wrap">
              <input type="email" required autocomplete="off" placeholder="Email Address" name="email" [(ngModel)]="email"/>
            </div>
			<div class="field-wrap">
              <input type="password" required autocomplete="off" placeholder="Password" name="password" [(ngModel)]="password"/>
            </div>
			<button style="width:500px" type="button" class="button button-block" (click) = "submit()">Next</button>
		</form>
	</div>
</div>
<div class= "footer">
      No account? <a> Signup! </a>
</div>

